body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.login-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: visible;
    max-width: 720px;
    width: 90%;
    height: auto;
}

.login-image {
    width: 40%;
    height: 90%;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-divider {
    width: 1px;
    background-color: #dce3ec;
}

.login-form {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fbfe;
}

.login-form h2 {
    margin-bottom: 1rem;
    color: #2c3e50;
    text-align: center;
    font-size: 1.4rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-size: 0.85rem;
    color: #34495e;
    margin-bottom: 0.25rem;
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.65rem;
    border-radius: 6px;
    border: 1px solid #bcd0e0;
    font-size: 0.95rem;
    background-color: #fff;
}

.alert {
    background-color: #ffdddd;
    color: #c0392b;
    padding: 0.8rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.forgot {
    font-size: 0.75rem;
    color: #7f8c8d;
    text-align: right;
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    text-decoration: none;
}

button {
    background-color: #3498db;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    width: 100%;
}


button:hover {
    background-color: #2980b9;
}


h1{
    text-align: center;
}