 @media print {
        body * {
            visibility: hidden;
        }

        #facturaParaImprimir, #facturaParaImprimir * {
            visibility: visible;
        }

        #facturaParaImprimir {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
        }

        .col-md-4, .col-md-6 {
            padding: 0 5px;
            box-sizing: border-box;
        }

        .col-md-4 {
            width: 33.33%;
        }

        .col-md-6 {
            width: 50%;
        }

        .mb-1 {
            margin-bottom: 5px;
        }
    }