@model List<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<a href="/Clientes/Create" class="btn btn-success mb-3">Agregar Cliente</a>

<input type="text" id="busquedaCliente" class="form-control mb-3" placeholder="Buscar por nombre o DNI..." />

<div id="tablaClientes">
   @await Html.PartialAsync("_TablaClientes", Model) <!--  llama  _TablaClientes.cshtml, pasándole como modelo la lista de clientes que tenemos. -->

</div>

@section Scripts {
    <script>
        function cargarClientes(pagina) {
            const filtro = document.getElementById("busquedaCliente").value;

            fetch(`/Clientes/Buscar?filtro=${encodeURIComponent(filtro)}&pagina=${pagina}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("tablaClientes").innerHTML = html;
                });
        }

        document.getElementById('busquedaCliente').addEventListener('input', function () {
            cargarClientes(1);
        });
    </script>
}
